USE [Web_doc_truyen]
GO
/****** Object:  Table [dbo].[binh_luan]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binh_luan](
	[id_binh_luan] [int] NULL,
	[id_nguoi_dung] [int] NULL,
	[id_truyen] [int] NULL,
	[ndung_binh_luan] [nvarchar](255) NULL,
	[ngay_binh_luan] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuong]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuong](
	[id_chuong] [int] NOT NULL,
	[ten_chuong] [nvarchar](255) NULL,
	[ndung_chuong] [nvarchar](max) NULL,
	[id_truyen] [int] NULL,
 CONSTRAINT [PK_chuong] PRIMARY KEY CLUSTERED 
(
	[id_chuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[luu_web]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luu_web](
	[id_link] [int] NOT NULL,
	[id_nguoi_dung] [int] NOT NULL,
	[url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id_nguoi_dung] [int] NOT NULL,
	[ho_ten] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[mat_khau] [nvarchar](255) NULL,
	[vai_tro] [nvarchar](255) NULL,
	[nghe_danh] [nvarchar](255) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](255) NULL,
	[gioi_thieu] [nvarchar](255) NULL,
	[binh_luan] [nvarchar](255) NULL,
 CONSTRAINT [PK_nguoi_dung] PRIMARY KEY CLUSTERED 
(
	[id_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai](
	[id_the_loai] [int] NOT NULL,
	[ten_the_loai] [nvarchar](255) NULL,
 CONSTRAINT [PK_the_loai] PRIMARY KEY CLUSTERED 
(
	[id_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[truyen]    Script Date: 12/05/2023 2:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[truyen](
	[id_truyen] [int] NOT NULL,
	[ten_truyen] [nvarchar](255) NULL,
	[id_nguoi_dung] [int] NULL,
	[nam_xb] [date] NULL,
	[id_the_loai] [int] NULL,
	[mo_ta_ndung] [nvarchar](4000) NULL,
	[so_chuong] [int] NULL,
	[tinh_trang] [nvarchar](255) NULL,
	[anh_truyen] [varchar](250) NULL,
 CONSTRAINT [PK_truyen_1] PRIMARY KEY CLUSTERED 
(
	[id_truyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nguoi_dung] ([id_nguoi_dung], [ho_ten], [email], [mat_khau], [vai_tro], [nghe_danh], [ngay_sinh], [gioi_tinh], [gioi_thieu], [binh_luan]) VALUES (1, N'Tran Anh Tuan', N'tuan@gmail.com', N'1', N'1', N'TunzTunz', CAST(N'2002-04-10' AS Date), N'Nam', N'Hello mình là Tu?n', N'')
INSERT [dbo].[nguoi_dung] ([id_nguoi_dung], [ho_ten], [email], [mat_khau], [vai_tro], [nghe_danh], [ngay_sinh], [gioi_tinh], [gioi_thieu], [binh_luan]) VALUES (2, N'Ta Quoc Viet', N'viet@gmail.com', N'1', N'1', N'Vitt', CAST(N'2002-01-01' AS Date), N'Nam', NULL, NULL)
INSERT [dbo].[nguoi_dung] ([id_nguoi_dung], [ho_ten], [email], [mat_khau], [vai_tro], [nghe_danh], [ngay_sinh], [gioi_tinh], [gioi_thieu], [binh_luan]) VALUES (3, N'Doan Tung Lam', N'lam@gmail.com', N'1', N'1', N'Lamzz', CAST(N'2002-02-02' AS Date), N'Nam', NULL, NULL)
GO
INSERT [dbo].[the_loai] ([id_the_loai], [ten_the_loai]) VALUES (1, N'kiem hiep')
INSERT [dbo].[the_loai] ([id_the_loai], [ten_the_loai]) VALUES (2, N'truyen teen')
INSERT [dbo].[the_loai] ([id_the_loai], [ten_the_loai]) VALUES (3, N'ngon tinh')
GO
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD  CONSTRAINT [fk_binhluan_id_truyen] FOREIGN KEY([id_truyen])
REFERENCES [dbo].[truyen] ([id_truyen])
GO
ALTER TABLE [dbo].[binh_luan] CHECK CONSTRAINT [fk_binhluan_id_truyen]
GO
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD  CONSTRAINT [fk_bluan_nguoi_dung] FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([id_nguoi_dung])
GO
ALTER TABLE [dbo].[binh_luan] CHECK CONSTRAINT [fk_bluan_nguoi_dung]
GO
ALTER TABLE [dbo].[chuong]  WITH CHECK ADD  CONSTRAINT [fk_truyen_id_truyen] FOREIGN KEY([id_truyen])
REFERENCES [dbo].[truyen] ([id_truyen])
GO
ALTER TABLE [dbo].[chuong] CHECK CONSTRAINT [fk_truyen_id_truyen]
GO
ALTER TABLE [dbo].[luu_web]  WITH CHECK ADD  CONSTRAINT [fk_lweb_id_nguoi_dung] FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([id_nguoi_dung])
GO
ALTER TABLE [dbo].[luu_web] CHECK CONSTRAINT [fk_lweb_id_nguoi_dung]
GO
ALTER TABLE [dbo].[truyen]  WITH CHECK ADD  CONSTRAINT [fk_ndung_id_nguoi_dung] FOREIGN KEY([id_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([id_nguoi_dung])
GO
ALTER TABLE [dbo].[truyen] CHECK CONSTRAINT [fk_ndung_id_nguoi_dung]
GO
ALTER TABLE [dbo].[truyen]  WITH CHECK ADD  CONSTRAINT [fk_tloai_id_the_loai] FOREIGN KEY([id_the_loai])
REFERENCES [dbo].[the_loai] ([id_the_loai])
GO
ALTER TABLE [dbo].[truyen] CHECK CONSTRAINT [fk_tloai_id_the_loai]
GO
